
biosampleresults/pooledData.vcf
biosampleresults/pooledData.gds
*.gds
*.vcf
biosampleresults/test.lfmm
*.lfmm
biosampleresults/.Rhistory
biosampleresults/aggregated_ad_rd.csv
*.gz
biosampleresults/treemix-1.13
