
#####################################################
### Processing step for data from XYZ et al 20XY ###
#####################################################

  ###
  ##wget
  grep -B1 -A1 "Identifiers:" biosample_result.txt | grep -v "^--$" - | \
  awk -F";" '
  BEGIN{
  print "biosamp,sra,organism"
  }
  {
  if(NR%2==1) {
    split($1, biosamp, ": ")
    split($2, sra, ": ")
  } else {
    split($1, organism, ": ")
    print biosamp[3]","sra[2]","organism[2]
  }
  }' > XYZ_output.csv
